<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All our Books</title>
</head>

<body>
    <main>
      <h1>
        Add a new book
      </h1>
      <form action="/book/add" method="POST">
        <label for="isbn">ISBN: </label>
        <input type="text" id="isbn" name="isbn" required><br>

        <label for="title">Titel: </label>
        <input type="text" id="title" name="title" required><br>

        <label for="author">Autor: </label>
        <input type="text" id="author" name="author" required><br>

        <label for="description">Beschreibung: </label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br>

        <input type="submit" value="Add Book">
      </form>
    </main>
</body>

</html> 